
ProjectCutePsychos/Assets/Art/TempAssets/Sunnyland/artwork/Sprites/player/idle/player-idle-1.png.meta
ProjectCutePsychos/Assets/Art/TempAssets/Sunnyland/artwork/Sprites/Enemies/opossum/opossum-2.png.meta
ProjectCutePsychos/Assets/Art/TempAssets/Sunnyland/artwork/Sprites/Enemies/opossum/opossum-1.png.meta
ProjectCutePsychos/Assets/Art/TempAssets/Sunnyland/artwork/Environment/tileset.png.meta
ProjectCutePsychos/Assets/Art/TempAssets/Sunnyland/artwork/Environment/tileset-sliced.png.meta
